.navbarStyles{
    background-color: rgb(243, 233, 222);
    border: solid rgba(0, 0, 0, .15);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    height:max-content;
    min-height: 100px;
}

.pageTitle {
    font-size: 60px ;
    font-weight: 200px;
    font-family: 'Rouge Script', cursive; 
    background-image: linear-gradient(to left, #a3ebb0 , #69b978);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-left: 5%;
    width: 300px;
    height: 80px;
    margin-left: 100px;
    
}

.pageTitle2{
    color: #a3ebb0; 
    font-family: 'Rouge Script', cursive; 
    font-size: 60px; 
    font-weight: normal; 
    line-height: 40px; 
    text-align: center; 
    text-shadow: 1px 1px 2px #082b34;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 60px;
}

.divNavbar{
    text-align: center;
    justify-content: center;
    width: 360px;
    padding: 10px;
    max-height: 80px;
    position: absolute;
    margin-top: -40px;
    margin-left: -180px;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
    border-radius: 20px;
  }
  

.separator{
    text-align: center;
    justify-content: center;
    font-family: 'Gill Sans', cursive; 

    font-weight: normal; 
    text-align: center; 
}

.divNavbar2{
    text-align: center;
    justify-content: center;
    font-weight: normal; 
    text-align: center; 
}

.center-screen {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

