.navbarStyles{
    background-color: rgb(243, 233, 222);
    border: solid rgba(0, 0, 0, .15);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    min-height: 100px;

}



.pageTitle {
    font-size: 70px;
    font-weight: 200px;
    font-family: 'Rouge Script', cursive; 
    background-image: linear-gradient(to left, #a3ebb0 , #69b978);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    margin-left: 5%;
    
}
.divNavbar{
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
    border-radius: 20px;
    width: 25%;
    min-width: 360px;
    margin-bottom: 10px;
}

.separator{
    text-align: center;
    justify-content: center;
    font-family: 'Gill Sans', cursive; 

    font-weight: normal; 
    text-align: center; 
}

.divNavbar2{
    text-align: center;
    justify-content: center;
    font-weight: normal; 
    text-align: center; 
}

.center-screen {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

