<div class="container divSombreado">

    <div class="divTitulo center">
        <h2 class="titulo">SIGN-UP</h2>
    </div>
    
    <form [formGroup]="signupForm">
        <div class="form-group row fieldForm">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="name" formControlName="name" placeholder="Name" id="email" (focus)="nameErrors=true;" class="form-control"/>
                <div *ngIf="nameErrors">
                    <div *ngIf="name?.errors?.['required']" [ngStyle]="{color: 'red'}"> Name obligatorio</div>    
                </div>
            </div>
        </div>
        
        <div class="form-group row fieldForm">
            <label for="surname" class="col-sm-2 col-form-label">Surname</label>
            <div class="col-sm-10">
                <input type="surname" formControlName="surname" placeholder="Surname" id="surname" (focus)="surnameErrors=true;" class="form-control"/>
                <div *ngIf="surnameErrors">
                    <div *ngIf="surname?.errors?.['required']" [ngStyle]="{color: 'red'}"> Surname obligatorio</div>
                </div>
            </div>
        </div>

        <div class="form-group row fieldForm">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" formControlName="email" placeholder="Email: ejemplo@ejemplo.com" id="email" (focus)="emailErrors=true;" class="form-control"/> 
                <div *ngIf="emailErrors">
                    <div *ngIf="email?.errors?.['required']" [ngStyle]="{color: 'red'}"> Email obligatorio</div>
                    <div *ngIf="email?.errors?.['pattern']" [ngStyle]="{color: 'red'}"> Email debe contener el caracter '@' y un dominio<br></div>
                    
                </div>
            </div>
        </div>
        
        <div class="form-group row fieldForm">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" formControlName="password" placeholder="Password" id="password" (focus)="passwordErrors=true;" class="form-control"/>
                <div *ngIf="passwordErrors">
                    <div *ngIf="password?.errors?.['required']" [ngStyle]="{color: 'red'}"> Contraseña obligatoria</div>
                </div>
            </div>
        </div>

        <div class="form-group row fieldForm">
            <label for="passwordConfirm" class="col-sm-2 col-form-label">Confirm password</label>
            <div class="col-sm-10">
                <input type="passwordConfirm" formControlName="passwordConfirm" placeholder="Confirm password" id="passwordConfirm" (focus)="passwordConfirmErrors=true;" class="form-control"/>
                <div *ngIf="passwordMatchError" [ngStyle]="{color: 'red'}"> 
                    Password does not match
                </div>
            </div>
        </div>


        <div class="form-group botonForm">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary" (click)="signup();">SignUp</button>
            </div>
        </div>

    </form>


</div>
