<div class="container" [ngStyle]="{backgroundColor: 'pink'}">

    <form [formGroup]="signupForm">

        <label for="name">Name:</label>
        <input type="name" formControlName="name" id="name" (focus)="nameErrors=true;"/> <br/>
        <div *ngIf="nameErrors">
            <div *ngIf="name?.errors?.['required']" [ngStyle]="{color: 'red'}"> Name obligatorio</div>
            <br>
        </div>

        <label for="surname">Surname:</label>
        <input type="surname" formControlName="surname" id="surname" (focus)="surnameErrors=true;"/> <br/>
        <div *ngIf="surnameErrors">
            <div *ngIf="surname?.errors?.['required']" [ngStyle]="{color: 'red'}"> Surname obligatorio</div>
            <br>
        </div>

        <label for="email">Email:</label>
        <input type="email" formControlName="email" id="email" (focus)="emailErrors=true;"/> <br/>
        <div *ngIf="emailErrors">
            <div *ngIf="email?.errors?.['required']" [ngStyle]="{color: 'red'}"> Email obligatorio</div>
            <div *ngIf="email?.errors?.['pattern']" [ngStyle]="{color: 'red'}"> Email debe contener el caracter '@' y un dominio</div>
            <br>
        </div>

        <label for="password">Password:</label>
        <input type="password" formControlName="password" id="password" (focus)="passwordErrors=true;"  /> <br/>
        <div *ngIf="passwordErrors">
            <div *ngIf="password?.errors?.['required']" [ngStyle]="{color: 'red'}"> Contraseña obligatoria</div>
            <br>
        </div>

        <label for="passwordConfirm">Confirm password:</label>
        <input type="password" formControlName="passwordConfirm" id="passwordConfirm"   /> <br/>
        <div *ngIf="passwordMatchError" [ngStyle]="{color: 'red'}"> 
            Password does not match
        </div>
        <br>
    
    
        <button (click)="signup();">SignUp</button>
    </form>
    
  </div>
