.divSignup{
    margin-top: 4%;
    width: 40%;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    border-radius: 20px;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

.botonSignup{
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.divTituloSignup{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.tituloSignup{
    color: #a3ebb0; 
    font-family: 'Rouge Script', cursive; 
    font-size: 40px; 
    font-weight: normal; 
    line-height: 48px; 
    margin: 0 0 50px; 
    text-align: center; 
    text-shadow: 1px 1px 2px #082b34;
}

.fieldForm{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
}