<div class="container divHome">

    <div class="bienvenida">
        Welcome again to Usersly <div class="infoDecoration">{{userInfo.name}}</div> !
    </div>
    
    <div class="divUserManage container">

        <div class="container divUserInfo">

                <div class="divTitulo center">
                    <h2 class="titulo2">Actual user</h2>
                </div>

                <div class="form-group row fieldForm">
                    <label class="col-sm-2 col-form-label">Name</label> 
                    <div class="col-sm-10">
                        <input disabled placeholder="{{userInfo.name}}" class="form-control"/>
                    </div>
                </div>

                <div class="form-group row fieldForm">
                    <label class="col-sm-2 col-form-label">Surname</label> 
                    <div class="col-sm-10">
                        <input disabled placeholder="{{userInfo.surname}}" class="form-control"/>
                    </div>
                </div>

                <div class="form-group row fieldForm">
                    <label class="col-sm-2 col-form-label">Email</label> 
                    <div class="col-sm-10">
                        <input disabled placeholder="{{userInfo.email}}" class="form-control"/>
                    </div>
                </div>
                  
        </div>

        <div class="container divUserUpdate">
            <div class="divTitulo center">
                <h2 class="titulo2">Manage user</h2>
            </div>

            <form [formGroup]="updateForm">
                <div class="form-group row fieldForm">
                    <label for="name" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="name" formControlName="name" placeholder="{{userInfo.name}}" id="email" (focus)="nameErrors=true;" class="form-control"/>
                        <div *ngIf="nameErrors">
                            <div *ngIf="name?.errors?.['required']" [ngStyle]="{color: 'red'}"> Name obligatorio</div>    
                        </div>
                    </div>
                </div>
                
                <div class="form-group row fieldForm">
                    <label for="surname" class="col-sm-2 col-form-label">Surname</label>
                    <div class="col-sm-10">
                        <input type="surname" formControlName="surname" placeholder="{{userInfo.surname}}" id="surname" (focus)="surnameErrors=true;" class="form-control"/>
                        <div *ngIf="surnameErrors">
                            <div *ngIf="surname?.errors?.['required']" [ngStyle]="{color: 'red'}"> Surname obligatorio</div>
                        </div>
                    </div>
                </div>
        
                <div class="form-group row fieldForm">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" disabled placeholder="{{userInfo.email}}" id="email" class="form-control"/> 

                    </div>
                </div>
                
                <div class="form-group row fieldForm">
                    <label for="password" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" formControlName="password" placeholder="Password" id="password" (focus)="passwordErrors=true;" class="form-control"/>
                        <div *ngIf="passwordErrors">
                            <div *ngIf="password?.errors?.['required']" [ngStyle]="{color: 'red'}"> Contraseña obligatoria</div>
                        </div>
                    </div>
                </div>
        
                <div class="form-group row fieldForm">
                    <label for="passwordConfirm" class="col-sm-2 col-form-label">Confirm password</label>
                    <div class="col-sm-10">
                        <input type="password" formControlName="passwordConfirm" placeholder="Confirm password" id="passwordConfirm" (focus)="passwordConfirmErrors=true;" class="form-control"/>
                        <div *ngIf="passwordMatchError" [ngStyle]="{color: 'red'}"> 
                            Password does not match
                        </div>
                    </div>
                </div>

                <div class="form-group row fieldForm">
                    <label for="id" class="col-sm-2 col-form-label">ID</label>
                    <div class="col-sm-10">
                        <input type="id" disabled placeholder="{{userInfo.id}}" value="{{userInfo.id}}" class="form-control"/>
                    </div>
                </div>
        
        
                <div class="form-group botonForm" style="margin-top: 50px">
                    <div class="row">

                        <div class="col-sm-3"></div>

                        <div  class="col-sm-3" >
                            <button type="submit" class="btn btn-warning" (click)="update();">Update</button>
                        </div>
        
                        <div  class="col-sm-3" >
                            <ngbd-modal-delete [userToUpdate]="userInfo.id" [userName]="userInfo.name + ' ' + userInfo.surname"></ngbd-modal-delete>
                        </div>
                    </div>
                </div>
        
            </form>
        </div>
    </div>
</div>
