section {

    min-height: 100%;
    display: block;
    position: relative;
    padding-bottom: 100px;
}
    
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: grey;
    height: auto;
    background-color: rgb(243, 233, 222);
}