/* You can add global styles to this file, and also import other style files */
.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

html,body {
    height: 100%;
    position: relative;
}
  
app-root {
  min-height: 100%;
  display: block;
  position: relative;
  padding-bottom: 56px;
}
  
footer {
  position: relative;
  bottom: 56px;
  width: 100%;
}


/* Estilos comunes para todas las paginas */


.titulo2 { 
  color: #a3ebb0; 
  font-family: "Great Vibes", cursive; 
  font-size: 45px; 
  line-height: 60px; 
  font-weight: normal; 
  margin-bottom: 40px; 
  margin-top: 40px; 
  text-align: center; 
  text-shadow: 1px 1px 2px #082b34;
  }

  .titulo4{
    color: #b48608; font-family: 'Droid serif', serif; font-size: 36px; font-weight: 400; font-style: italic; line-height: 44px; margin: 0 0 12px; text-align: center;
  }



.divTitulo{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.divSombreado{
  margin-top: 60px;
  width: 40%;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  border-radius: 20px;
  box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

.botonForm{
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

.center{
  justify-content: center;
  text-align: center;
  align-items: center;
}

.fieldForm{
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 25px;
}

.bienvenida{

  color: #adb7bd; 
  font-family: 'Lucida Sans', Arial, sans-serif;
   font-size: 16px; 
   line-height: 26px; 
   text-indent: 30px; 
   margin: 0;
   
   
}

.despedida{
  color: #adb7bd; 
  font-family: 'Lucida Sans', Arial, sans-serif;
   font-size: 16px; 
   line-height: 26px; 
   text-indent: 30px; 

   margin-top: 60px;
   margin-bottom: 30px;
   
}



.infoDecoration { 
  color: #fe921f; 
  text-decoration: underline; 
  display:inline;
}

.infoError {
  color: #fe1f1f; 
  text-decoration: underline; 
  font-family: "Great Vibes", cursive; 
  font-size: 45px;
  margin-top: 20px;
}

.infoDecoration2 { 
  color: #6ce427; 
  text-decoration: underline; 
  display:inline;
}
